@import 'responsive';

/*
 ==============
 fonts
 ==============
 */
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Major+Mono+Display&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap'); 

/*
===================
Global variables
===================
*/
// my fonts****************************************
$ff-primary-1 :'Bebas Neue', cursive;
$ff-primary-2 : 'Montserrat', sans-serif;
$ff-primary-3 : 'Courgette', cursive;
$ff-primary-4 : 'Major Mono Display', monospace;

//my colors****************************************
$primary-clr-1 : #FCE38A;
$primary-clr-2 : #f8f8f8;
$primary-clr-3 : #fff;
$primary-clr-4 : #000; 

//my text color************************************
$primary-text-clr-1: #000;
$primary-text-clr-2: #313030;
$primary-text-clr-3: #fff;
$primary-text-clr-4: #676767;

// text style**************************************
$spacing : .1rem;

//global style*************************************
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: $primary-clr-3;
    font-family: $ff-primary-2;
    line-height: 1.5;
    font-size: .875rem;
    color: $primary-text-clr-2;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $primary-text-clr-1;
        font-family: $ff-primary-1;
        font-size: 1rem;
    }
    h1,h2,h3,h4{
        letter-spacing: $spacing;
        line-height: 1.25rem;
        color: $primary-text-clr-1;
    }
    h1{
        font-size: 3rem;
        text-transform: uppercase;
        font-family: $ff-primary-1;

        @include slim-mobile{
            font-size: 1.75rem;
        }
        @include mobile{
            font-size: 2.25rem;
        }
    }
    h2{
        font-size: 1.25rem;
        font-family: $ff-primary-2;

        @include slim-mobile{
            font-size: 1rem;
        }
        
    }
    h3{
        font-size: 1.25rem;
        font-family: $ff-primary-3;
        font-weight: lighter;
        @include slim-mobile{
            font-size: .75rem;
        }
    }
    p{
        margin-bottom: 1.25rem;
        color: $primary-text-clr-2;
        line-height: 1.5rem;
    }
}

//mixins*******************************************
@mixin transition-ease{
    transition: all .4s ease-in-out;
}
@mixin centralize{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


// animations **********************************
@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
        padding-left: 160px;
    }

    100% {
        transform: translateX(0%);
        padding-left: 30px;

    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(15%)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-in-top {
    0% {
        opacity: 0;
        transform: translateY(-100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
//-----------------------------

@keyframes slide-in-right {
    0% {
        transform: translate(50%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes drop-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }

}
// mouse andimations on the landing page=============
@keyframes dot-down{
    0%{
     top:10px;
      opacity: 1;
    }
    20%{
      top: 5px;
    }
    80%{
      opacity: 1;
    }
    100%{
     top: 30px;
      opacity: 0;
      width: 7px;
      height: 7px;
    }
  }
  
  @keyframes mouse-down{
    0%{
      top : 10px;
    }
    20%{
      top : 0px;
    }
    100%{
      top : 25px; 
    }
  }
  @keyframes disappear{
    0%{
      padding-top:40px;
    }
    20%{
      padding-top:50px;
    }
    100%{
      padding-top: 0;
    }
  }