
.landing-page {
    height: 100vh;
    background-color: $primary-clr-1;

    .profile {
        position: relative;
        height: 70vh;

        &__pic {
            position: absolute;
            top: 0;
            right: 10%;
            width: 60%;
            // height: 80%;
            margin: 4rem auto .5rem;
        }

        &__text {
            position: absolute;
            left: 5%;
            height: 20vh;
            margin: 2rem auto;
            color: $primary-text-clr-1;
            bottom: -10%;

            @include small-screen{
                bottom: -30%;
            }

            h1 {
                margin-top: 1rem;
                color: white;

                span{
                    line-height: 3rem;
                }
                @include small-screen{
                    span{
                        font-size: 5rem;
                        line-height: 5rem;

                    }
                }
            }
                @include small-screen{

                    h4 {
                        color: $primary-text-clr-1;
        
                        span{
                            line-height: 3rem;
                            font-size: 1.75rem;
                        }
                    }
                }

            // my name and skills appearing************************************
            .name {
                line-height: 2rem;
                overflow: hidden;

                .my-name,
                .my-job {
                    transform: translateY(100%);
                    display: inline-block;

                }

                // landing page name ****************************************
                .my-name {
                    transition: all 1s ease-in-out;

                    &.open {
                        transform: translateY(0%);
                        // z-index: 0;
                    }
                }

                // landing page job ****************************************
                .my-job {
                    transition: all 1s .5s ease-in-out;

                    &.open {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
    // mouse animation on the bottom of the landing page
    .mouse-animation{
        width:100px;
        height: 100px;
        margin: 0 auto;
        
          .mouse{
            overflow: hidden;
            width: 32px;
            height: 50px;
            // background-color: white;
            border-radius: 100px;
            position: relative;
            margin: 10% auto;
            animation : mouse-down 2s infinite;
            z-index:0;
            
            &::before, &::after{
               content:'';
               top:0;
               left: 0;
               right: 0;
               bottom: 0;
               border-radius:100px;
            }
            &::before{
                z-index: 1;
                position: absolute;
                height: 46px;
                width: 26px;
                margin: auto;
                background-color:#FFC15C;
            }
            &::after{
                z-index:3;
                margin: 0 auto;
                position: absolute;
                background-color: #ffffff;
                width: 8px;
                height: 8px;
                animation: dot-down 2s ease-in-out infinite;
                top: 10px;
            }
            &__cover{
              position: absolute;
              bottom: 0;
              border-radius: 100px;
              width:100%;
              background-color: white;
              // padding-top:50px;
              animation: disappear 2s infinite;
              z-index: 0;
            }
          }
       }
}

// about me section*****************************************
.container {
    width: 80vw;
    margin: 0 auto;
    padding: 4rem 0 0 0;

    // adding margin to the container wrapper in the 980px scale
    @include small-screen{
        & > .wrapper:nth-child(2){
            margin-top: 15%;
        }
    }

    // the orange animated line********************************
    &__animation-line {
        height: 3px;
        padding: 0 30px;
        display: inline-block;
        border-radius: 2px;
        background-color: $primary-clr-1;
        display: none;

        &.open {
            display: inline-block;
            animation: slide-in-left .5s;
        }
    }


    //  main title*************************************
    &__title,
    &__title.open {
        margin-top: 1rem;
        position: relative;
        z-index: 3;

        .title {
            margin-bottom: .1rem;
            line-height: 3rem;
            overflow: hidden;

            .my-title {
                display: inline-block;
                @include transition-ease;
                transform: translateY(100%);

                @include small-screen{
                    font-size: 4rem;
                    line-height: 4rem;
                }

                &.open {
                    transform: translateY(0);
                }
            }
        }
    }

    // subtitle**************************************
    &__subtitle {
        margin-top: 2rem;
        display: none;

        &.open {
            animation: fade-in-bottom 1s;
            display: block;
        }

        .subtitle {
            margin-bottom: .5rem;
            @include small-screen{
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }
    }

    //  text******************************************
    &__text {
        display: none;
        margin-top: 1.5rem;

        &.open {
            animation: fade-in-bottom 1.3s;
            display: block;

            @include small-screen{
                font-size: .9rem;

                p{
                    color: $primary-text-clr-4;
                }
            }
        }
    }

    //  button************************************************
    &__button {
        background-color: $primary-clr-1;
        padding: 0px 6px;
        display: inline-flex;
        display: none;

        &.open {
            display: inline-flex;
            animation: fade-in-bottom 1.6s;
        }

        .more {
            transition: all .2s ease-in-out;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: $spacing;
            color: $primary-text-clr-3;
            padding-top: 4px;
            padding-right: 2rem;
        }

        &:hover {
            .more {
                padding-right: 0;
            }
        }

        img {
            width: 1.5rem;
            margin-left: 3px;
            position: absolute;
            transition: all .2s ease-in-out;
        }

        &:hover {
            img {
                margin-left: 1rem;
            }
        }

    }

    // how I can help section************************************
    .icons {
        width: 100vw;
        height: 450px;
        margin-left: -13%;
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: -1.5rem;
        z-index: 0;
        padding: 2rem;
        position: relative;
        transition: .8s ease-in-out;

        grid-template-areas: 'computer design team'
            'arrow1 arrow2 arrow3'
            'js figma git'
            'react xd github'
            'scss empty1 empty2';

            .arrow1,
            .arrow2,
            .arrow3 {
                transition: all 1s ease-in-out;
                transform: rotate(0deg);
            }

        // displaying icons in tablet screen size ********************
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1.5fr .5fr 1fr 1fr 1fr;

            .computer {
                grid-area: computer;
            }

            .design {
                grid-area: design;
            }

            .team {
                grid-area: team;
            }
            
            .arrow1,
            .arrow2,
            .arrow3 {
                transform: rotate(450deg);
                transition: all 1s ease-in-out;
            }

            .arrow1 {
                grid-area: arrow1;
            }

            .arrow2 {
                grid-area: arrow2;
            }

            .arrow3 {
                grid-area: arrow3;
            }

            .js {
                grid-area: js;
            }

            .figma {
                grid-area: figma;
            }

            .git {
                grid-area: git;
            }

            .react {
                grid-area: react;
            }

            .xd {
                grid-area: xd;
            }

            .github {
                grid-area: github;
            }

            .scss {
                grid-area: scss;
            }

            .empty1 {
                grid-area: empty1;
            }

            .empty2 {
                grid-area: empty2;
            }

            .icons-container {
                padding: 1rem;
            }

            @include small-screen{
                width: 75%;
                margin-left: auto;
                margin-top: 10%;
                margin-bottom: 10%;
            }
        }

        // the animation div that slide in from the top
        &__animation-div {
            position: absolute;
            top: -7%;
            left: 2%;
            padding-bottom: 0;
            padding-right: 40%;
            border-radius: 5px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all 1s ease-in-out;

            @include tablet {
                left: 0;
                box-shadow: none;

            }
        }

        &.open {

            .icons__animation-div {
                padding-bottom: 450px;
                background-color: $primary-clr-1;

                @include tablet {
                    padding-bottom: 220px;
                    padding-right: 100%;
                }

                @include small-screen{
                    box-shadow: #FCE38A 5px 5px, #fae28a 10px 10px, #fae597 15px 15px, #f7e6a6 20px 20px, #f9eab5 25px 25px;

                }
            }
        }


        // each icon container *************************
        .icons-container {
            position: relative;
            margin: 0 auto;
            text-align: center;
            display: none;
            width: 100%;

            &.open {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                animation: fade-in-bottom .5s;
            }
            
            h4 {
                font-size: .7rem;
                color: $primary-text-clr-2;
            }

            p {
                font-size: .8rem;
                line-height: 0;
                padding-top: .7rem;
                color: $primary-text-clr-4;
            }

            &__underline {
                position: absolute;
                left: 0;
                bottom: 5%;
                width: 40px;
                height: 1px;
                background-color: $primary-clr-4;
            }

            @include small-screen{
                img{
                        width: 50px;
                }
            }
        }

    }

    // projects section*************************************
    .projects {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1400px;
        width: 100%;
        margin-left: -13%;

        @include tablet {
            grid-template-columns: 1fr 1fr;
        }

        @include small-screen {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include laptop {
            grid-template-columns: 1fr 1fr 1fr 1fr;

        }

        // each project ***************************************
        .project-container {
            height: 350px;

            &.open {
                .projects-item {
                    display: block;
                    animation: fade-in-bottom .4s;
                }
            }

            .projects-item {
                position: relative;
                height: 100%;
                width: 100%;
                overflow: hidden;
                z-index: 0;
                display: none;
                @include transition-ease;
               

                // project logo*****************************************
                &__logo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30%;
                    height: 30%;
                    // background-color: red;

                    img {
                        padding: 1rem;
                        width: 70%;
                        // background-color: blue;
                    }

                }

                // project image
                &__image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: auto;
                    margin-right: auto;

                    @include mobile {
                        left: -15%;
                        height: 100%;
                    }

                    @include large-mobile {
                        height: 100%;
                    }

                    @include mini-tablet {
                        max-width: 100%;
                        height: auto;
                    }

                    @include tablet {
                        height: 100%;
                        max-width: fit-content;
                        left: -8%;
                    }

                    @include large-tablet {
                        left: 0;
                    }

                    @include small-screen {
                        left: -15%;
                    }
                }

                // project info****************************************
                &__info {
                    position: absolute;
                    bottom: -20%;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    // background-color: blue;
                    padding: 1.5rem;

                    @include transition-ease;

                    // project title ***************************************
                    .project-title {
                        font-size: 1.5rem;
                        color: $primary-text-clr-3;
                        @include transition-ease;
                    }

                    // project subtitle ***************************************
                    .project-subtitle {
                        margin-top: 1rem;
                        color: $primary-text-clr-3;
                        font-family: $ff-primary-3;
                    }

                    // project category ***************************************
                    .project-category {
                        padding-top: 2rem;
                        color: $primary-text-clr-3;
                        font-size: 1.5rem;
                    }
                }

                // project buttons ***************************************
                &__btns {
                    position: absolute;
                    bottom: 0;
                    right: 5%;
                    width: 30%;
                    height: 18%;
                    @include centralize;
                    @include transition-ease;

                    .project__btn {
                        color: $primary-text-clr-3;
                        display: none;
                        @include transition-ease;
                    }

                }

                // project link to the project page ***************************************
                &__link {
                    padding: 100%;
                    z-index: 10;

                    @include laptop {
                        padding: 50%;
                        z-index: 10;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                &:hover {
                    cursor: pointer;

                    .projects-item__info {
                        bottom: 0;

                        .project-title {
                            color: $primary-clr-1;
                        }
                    }

                    .project__btn {
                        display: block;

                        &:hover {
                            color: blue;
                        }
                    }
                }
            }

        }

        @include laptop{
            height: 530px;
            width: 100%;
            margin: 10rem auto 5rem;
            // margin: 5rem auto;

            & > .project-container:nth-child(2){
                margin-top: 17%;
            }
            & > .project-container:nth-child(3){
                margin-top: 35%;
            }
            & > .project-container:nth-child(4){
                margin-top: 53%;
            }
        }

    }
    
    @include small-screen{
        .my-porjects-wrapper{
            display: flex;

            .sub-wrapper{
                width: 50%;
                    &:nth-child(2){margin-top: 15%;}
            }
        }
    }

    // animation div************************************
    &__animation-div {
        position: relative;
        z-index: -2;
        margin-top: -3rem;
        height: 250px;
        display: none;
        background-color: $primary-clr-2;
        width: 100vw;
        margin-left: -13%;
        transform: translateX(100%);
        transition: all .5s ease-in-out;
        @include centralize;

        .div-1 {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 60%;
            background-color: $primary-clr-1;
        }

        &.open {
            transform: translateX(0);
        }

        .text {
            width: 70%;
            background-color: $primary-clr-3;
            padding: 2rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;

        }
    }

    &__contact-info {
        margin-top: 1rem;
        height: 250px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        @include small-screen {
            font-size: 1.2rem;
            flex-direction: row;
            margin-top: 5rem;

            .email {
                font-size: 1.6rem;
                text-transform: lowercase;
                font-family: $ff-primary-1;
            }

        }

        .contact-method {
            transform: translateY(-100%);
            animation: slide-in-top;
            transition: all 1s ease-in-out;

            &.open {

                display: block;
                transform: translateY(0);
            }
        }
    }

}
// flexing the about me section on large screen
@include small-screen {
    .container.about {
        display: flex;
        .wrapper {
            width: 50%;
        }
    }
}

// copy right section *****************
.copy {
    text-align: center;
    padding-top: .7rem;
    height: 3rem;
    background-color: $primary-clr-2;
    border-top: 1px solid rgb(208, 206, 206);
    
    @include laptop {
        z-index: 20;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        text-align: left;
        padding-left: 3rem;
        border: none;

        p{
        }
    }
}