.landing-page {
    height: 100vh;
    background-color: $primary-clr-1;

    // loading (gif and my name) styling
    .profile {
        position: relative;
        // background-color:rgb(183, 137, 81);
        height: 70vh;
        &__pic {
            position: absolute;
            top: 0;
            right: 10%;
            width: 60%;
            height: 80%;
            margin: 4rem auto .5rem;
            // background-color: rgb(0, 0, 0);
            // background-size: cover;
            // background-position: center;
        }

        &__text {
            // background-color: red;
            position: absolute;
            bottom: -30%;
            left: 5%;
            // width: 100%;
            height: 20vh;
            margin: 2rem auto;
            // @include centralize;
            // flex-direction: column;
            color: $primary-text-clr-1;

            h1 {
                font-size: 1.4rem;
                margin-top: 1rem;
                // font-family: $ff-primary-4;
            }

            h4 {
                
                // font-family: $ff-primary-3;
            }

            // my name and skills appearing************************************
            .name {
                line-height: 2rem;
                overflow: hidden;

                .my-name,
                .my-job {
                    transform: translateY(100%);
                    display: inline-block;

                }

                // landing page name ****************************************
                .my-name {
                    transition: all 1s ease-in-out;

                    &.open {
                        transform: translateY(0%);
                        // z-index: 0;
                    }
                }

                // landing page job ****************************************
                .my-job {
                    transition: all 1s .5s ease-in-out;

                    &.open {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
}

// about me section*****************************************
.container {
    width: 80vw;
    margin: 0 auto;
    padding: 6rem 0 1rem 0;

    // the orange animated line********************************
    &__animation-line {
        height: 3px;
        padding: 0 30px;
        display: inline-block;
        border-radius: 2px;
        background-color: $primary-clr-1;
        display: none;
        &.open {
            display: inline-block;
            animation: slide-in-left .5s;
        }
    }
    // animation div************************************
    &__animation-div{
        position: absolute;
        z-index: -1;
        margin-top: -3rem;
        height: 300px;
        background-color: $primary-clr-2;
        width: 100vw;
        margin-left: -13%;
        transform: translateX(100%);
        @include centralize;
        @include transition-ease;

        &.open{
            transform: translateX(0);
        }

        .text{
            width: 70%;
            // height: 50%;
            background-color: $primary-clr-3;
            padding: 2rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;

        }
    }

    //  main title*************************************
    &__title,
    &__title.open {
        margin-top: 1rem;
        position: relative;
        z-index: 3;

        .title {
            margin-bottom: .1rem;
            line-height: 2.6rem;
            overflow: hidden;

            .my-title {
                display: inline-block;
                @include transition-ease;
                transform: translateY(100%);

                &.open {
                    transform: translateY(0);
                }
            }
        }
    }

    // subtitle**************************************
    &__subtitle {
        margin-top: 2rem;
        display: none;

        &.open {
            animation: fade-in-bottom 1s;
            display: block;
        }

        .subtitle {
            margin-bottom: .5rem;
        }
    }

    //  text******************************************
    &__text {
        display: none;
        margin-top: 1.5rem;

        &.open {
            animation: fade-in-bottom 1.3s;
            display: block;
        }
    }

    //  button************************************************
    &__button {
        background-color: $primary-clr-1;
        padding: 0px 6px;
        display: inline-flex;
        display: none;

        &.open {
            display: inline-flex;
            animation: fade-in-bottom 1.6s;
        }

        .more {
            transition: all .2s ease-in-out;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: $spacing;
            color: $primary-text-clr-3;
            padding-top: 4px;
            padding-right: 2rem;
        }

        &:hover {
            .more {
                padding-right: 0;
            }
        }

        img {
            width: 1.5rem;
            margin-left: 3px;
            position: absolute;
            transition: all .2s ease-in-out;
        }

        &:hover {
            img {
                margin-left: 1rem;
            }
        }

    }

    // how I can help section************************************
    .icons {
        width: 100vw;
        height: 450px;
        margin-left: -13%;
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: -1.5rem;
        z-index: 0;
        padding: 2rem;
        position: relative;
       
        transition: .8s ease-in-out;
// the animation div that slide in from the top
        &__animation-div{
            position: absolute;
            top: -5%;
            left: 2%;
            padding-bottom: 0;
            padding-right: 40%;
            border-radius: 5px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all 1s ease-in-out;
        }

        &.open {
            
            .icons__animation-div{
                padding-bottom: 450px;
                background-color: $primary-clr-1;
            }
        }
       

        // each icon container *************************
        .icons-container {
            position: relative;
            margin: 0 auto;
            text-align: center;
            display: none;
            width: 100%;

            &.open {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                animation: fade-in-bottom .5s;
            }

            h4 {
                font-size: .7rem;
                color: $primary-text-clr-2;
            }
            p{
                font-size: .8rem;
                line-height: 0;
                padding-top: .7rem;
                color: $primary-text-clr-4;
            }

            &__underline {
                position: absolute;
                left: 0;
                bottom: 5%;
                width: 40px;
                height: 1px;
                background-color: $primary-clr-4;
            }
        }

    }

    // projects section*************************************
    .projects {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
        margin-left: -13%;

        // each project ***************************************
        .projects-item {
            position: relative;
            height: 300px;
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid black;
            background-color: rgb(183, 137, 81);
            display: none;
            @include transition-ease;

            // project logo*****************************************
            &__logo {
                position: absolute;
                top: 0;
                left: 0;
                width: 30%;
                height: 30%;
                background-color: red;

            }

            // project info****************************************
            &__info {
                position: absolute;
                bottom: -20%;
                left: 0;
                width: 100%;
                height: 50%;
                // background-color: blue;
                padding: 1.5rem;

                @include transition-ease;

                // project title ***************************************
                .project-title {
                    font-size: 1.5rem;
                    color: $primary-text-clr-3;
                    @include transition-ease;
                }

                // project subtitle ***************************************
                .project-subtitle {
                    margin-top: 1rem;
                    color: $primary-text-clr-3;
                    font-family: $ff-primary-3;
                }

                // project category ***************************************
                .project-category {
                    padding-top: 2rem;
                    color: $primary-text-clr-3;
                    font-size: 1.5rem;
                }
            }

            // project buttons ***************************************
            &__btns {
                position: absolute;
                bottom: 0;
                right: 5%;
                width: 30%;
                height: 18%;
                @include centralize;
                @include transition-ease;

                .project__btn {
                    color: $primary-text-clr-3;
                    display: none;
                    @include transition-ease;
                }

            }

            // project link to the project page ***************************************
            &__link {
                padding: 100%;
                z-index: 10;
            }

            &:hover {
                background-color: black;
                opacity: .8;
                cursor: pointer;

                .projects-item__info {
                    bottom: 0;

                    .project-title {
                        color: $primary-clr-1;
                    }
                }

                .project__btn {
                    display: block;

                    &:hover {
                        color: $primary-clr-1;
                    }
                }
            }
        }

        .project-container {
            height: 300px;

            &.open {
                .projects-item {
                    display: block;
                    animation: fade-in-bottom 1s;
                }
            }
        }

    }

}

// animations **********************************
@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
        padding-left: 160px;
    }

    100% {
        transform: translateX(0%);
        padding-left: 30px;

    }
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}