    .landing-page{

        &__welcome-text{
            position: absolute;
            top: 45%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);

            .welcome-container{
                height: 200px;
                position: relative;

                .top-left{
                    position: absolute;
                }
                .bottom-right{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                .welcome-text{
                    text-align: center;
                    padding-top: 2.5rem;
                    font-family: $ff-primary-6;
                    // font-weight: 300;
                    
                    
                    .constant-text{
                        display: block;
                        margin-bottom: 2rem;
                        font-size: 2.5rem;
                    }

                    .animated-text{
                        font-size: 1.5rem;
                        opacity: 0;
                        transform: translateY(50%);
                        transition: all .3s ease-in-out;
                        display: inline-block;
                        white-space: pre;
                        

                        &.fade-in{
                            opacity: 1;
                            transform: translateY(0);
                        }

                        &.fade-out{
                            opacity: 0;
                            transform: translateY(-50%);
                        }
                      }
                }
            }
        }
    }
   
