    .landing-page{
        &__welcome-text{
            position: absolute;
            top: 45%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);

            @include large-tablet {
                width: 65%;
            }
            .welcome-container{
                height: 200px;
                position: relative;

                .top-left{
                    position: absolute;
                }
                .bottom-right{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                .welcome-text{
                    text-align: center;
                    padding-top: 2.5rem;
                    font-family: $ff-primary-6;
                    // font-weight: 300;
                    
                    
                    .constant-text{
                        display: block;
                        margin-bottom: 2rem;
                        font-size: 2.5rem;

                        @include laptop{
                            font-size: 3rem;
                            margin-bottom: 3rem;
                        }
                    }

                    .animated-text{
                        font-size: 1.5rem;
                        opacity: 0;
                        transform: translateY(100%);
                        transition: all .3s ease-in-out;
                        display: inline-block;
                        white-space: pre;
                        
                        @include laptop{
                            font-size: 2rem;
                        }

                        &.fade-in{
                            opacity: 1;
                            transform: translateY(0);
                        }

                        &.fade-out{
                            opacity: 0;
                            transform: translateY(-100%);
                        }
                      }
                }
            }
        }
    }
    .works{
        // height: 100vh;
        // background-color: rgb(151, 129, 129);

        .filter{
            width:250px;
            height: auto;
            margin: 0 auto;
            // background-color: red;
            display: flex;
            justify-content: space-around;

            &__btn{
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                cursor: pointer;
                color: $primary-text-clr-4;
                font-weight: 300;
                font-family: $ff-primary-5;

                &.active{
                    color: $primary-clr-4;
                    font-weight: bold;
                    text-decoration: underline 2px;
                }

                &:hover{
                    color: $primary-clr-4;
                }
            }
        }
        .container{
           
            padding: 0;

            @include laptop{
            // background-color: red;
            width: 100%;
            }
            .projects{
                margin-top: 2rem;
                .projects-item__image{

                   @include tablet{
                    //    height: 100%;
                   }
                }
              
                height: auto;
                .project-container{
                    margin: 0;
                }
            }

        }
    }
   
