@import 'config';
@import 'home';
@import 'about';
@import 'menu';
@import 'projects';
@import 'responsive';


#preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: url(/dist/img/preloader-3.gif) no-repeat center $primary-clr-3;
    background-size: 30%;

    .close-btn{
        cursor: pointer;
        position: fixed;
        right: 3rem;
        top: 2rem;
        font-size: 2rem;
        @include transition-ease;

        &:hover{
            transform: translateY(-2px);
            color: $primary-clr-1;
        }
    }
}

main {
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
    transition: all 1s ease-in-out;
    .to-top-wrapper{
        display: none;
    }

    @include laptop{
        width: 93%;

        .to-top-wrapper{
            width: auto;
            height: 20px;
            position: fixed;
            bottom: .5rem;
            left:50%;
            transform: translate(-50% , -50%);
            z-index: 30;
            font-size: 1rem; 
            display: none;
            animation: fade-in 1s;
            
            i{
                padding-left: .5rem;
            }
            a{
                cursor: pointer;
            }
            &:hover{
               border-bottom:2px solid orange;
            }
            
            &.open{
                display: block;
            }
        }
    }

}
